{% extends 'layout.html.twig' %}

{% block body %}
    <div class="index container">
        <h1>Bienvenue sur le site de connexion à BileMo</h1>
        {% if app.user %}
            <div>Token: {{ app.user.accessToken }}</div>
            <a href="{{ path('logout') }}" class="btn btn-danger">Logout</a>
        {% else %}
            <a class="btn btn-sm btn-primary" href='https://www.facebook.com/v2.11/dialog/oauth?client_id={{ client_id }}&redirect_uri={{ redirect_uri }}'><i class="fa fa-facebook" aria-hidden="true"></i> Connexion via Facebook</a>
        {% endif %}
    </div>
{% endblock %}
